{% include 'header_and_footer/header.html' %}

<h1>All news</h1>
<div class="row justify-content-md-center">
    {% for i in query %}
    <div class="card" style="width: 18rem; margin: 20px">
        <img src="{{i.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{i.title}}</h5>
            <p class="card-text">{{i.publication_date}}</p>
            <a href="/blog/{{i.id}}" class="btn btn-primary">Details</a>
        </div>
    </div>
    {% endfor %}
</div>

{% include 'header_and_footer/footer.html' %}
